* {
  outline: 0;
  border: 0;
  margin: 0;
}
.box .box_design {
  height: 200px;
  width: 200px;
}
.box {
  height: 1000px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.box .green {
  color: green;
  background-color: blue;
}
.box .red {
  color: red;
  background-color: black;
}
.box .orange {
  color: rgb(8, 59, 155);
  background-color: aqua;
}
